.ticker {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  font-size: 3.2rem;
  font-weight: 500;
}

.ticker__slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticker__slider_primary,
.ticker__slider_secondary {
  display: flex;
  flex-shrink: 0;
  line-height: 1;
}

.ticker__slider_secondary {
  margin-left: 100%;
}

.ticker__item {
  display: inline-block;
  margin-right: 5rem;
}
